@import "../../styles/theme";

.pagination_container {
  margin-top: 4.5em;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.previous {
  display: block;
  text-align: left;
}

.next {
  display: block;
  text-align: right;
}

.pagination_label {
  margin-bottom: 0;
  color: $color-secondary;
}
