@import "../../styles/theme";
@import "../../styles/mixins/rhythm";

.titleAndCaption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titleLink {
  text-decoration: none;
  font-family: $title-font-family;
  font-size: $title-font-size;
  color: $color-primary;
}

.blogTitle {
    @include margin-top(0);
}

.blogCaption {
  font-family: $base-font-family-default;
  font-size: $base-font-size;
  color: $color-text-caption;
  display: inline;

  p {
    @include margin-bottom(0.2);
  }
}

.website {
  padding-left: 5px;

  a {
    font-weight: $medium;
    color: $color-text-caption;
    text-decoration: none;
    border-bottom: 1px solid $color-underline;

    &:hover,
    &:focus {
      color: $color-link-hover;
    }
  }
}
