
.postHeader {
  margin: 0;
}

.blogTitle {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: #70C80F;
}

.blogCaption {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #617073;
}