@import "common/typography";
@import "common/colors";
@import "common/config";

$theme: (
  light: (
    background: $color-background-light,
    text: $color-text-light,
  ),
  dark: (
    background: $color-background-dark,
    text: $color-text-dark,
  ),
);

@function color-get($palette, $color-key) {
  @return map-get(map-get($theme, $palette), $color-key);
}

body.light {
  background-color: color-get('light', background);
  color: color-get('light', text);
}

body.dark {
  background-color: color-get('dark', background);
  color: color-get('dark', text);
}