@import "../../styles/theme";

.layout { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
  max-width: $layout-width;
  width: 100%;  
}

body {
  background: $color-background-dark;
  height: 100vh;
  width: 100%;
}

.light-bg {
  background: $color-background-light;
}