@import "../../styles/mixins/rhythm";

.buymecoffee {
  max-width: inherit;
  width: 100%;
  @include margin-bottom(1.5);
  
  img {
    height: 51px;
    width: 217px;
    border-radius: 4px;
  }
}

