@import "../../styles/theme";

.post_meta {
  max-width: inherit;
  width: inherit;
  margin-bottom: 2em;
}

.post_title {
  font-family: inherit;
  font-weight: $medium;
  font-size: 2.6em;
}

.post_caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: $color-text-caption;
}