@import "../../styles/theme";

/**
  position: fixed;
  left: 50vh;
  top: 50vh;
  transform: translate(-50%, -50%);
*/

.not_found {
  margin: 150px auto 0;


  &  h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 150px;
    text-shadow: 0px 0px 3px #202020, 5px 5px 2px $color-primary,
      -5px -2px 2px mix(black, red, 50);
    font-weight: $black;
    transform: skewX(0deg);
    animation: shift 4s ease-in-out infinite alternate;
  }
}

@keyframes shift {
  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    transform: skewX(0deg);
  }
  41% {
    transform: skewX(10deg);
  }
  42% {
    transform: skewX(-10deg);
  }
  59% {
    transform: (skewX(40deg) skewY(10deg));
  }
  60% {
    transform: (skewX(-40deg) skewY(-10deg));
  }
  63% {
    transform: (skewX(10deg) skewY(-5deg));
  }
  70% {
    transform: (skewX(-50deg) skewY(-20deg));
  }
  71% {
    transform: (skewX(10deg) skewY(-10deg));
  }
}
